/*----------------------------------TELEFON----------------------------------*/
/*----------------------------------TELEFON----------------------------------*/
/*----------------------------------TELEFON----------------------------------*/
/*----------------------------------TELEFON----------------------------------*/
@media (min-width: 400px)
{
    body{
        background-color: gray;
        margin: 0px;
        background-color: #101010;
        color: white;
        font-family: sans-serif;
    }
    .fejleceskep{
        background-image: url(img/pizzakep.jpg);
        background-size: cover;
        height: 30vh;
        width: 100%;
        display: flex;
        justify-content:space-between;
        color: white;
        font-size: 11px;
    }
    .navbar{
        display: flex;
        justify-content: space-evenly;
        width: 45vw;
        color: lightgray;
    }
    .piadinapizzeria{
        margin: auto; 
        width: 100%;
    }
    .menupontok{
        gap: 5vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8vh;
        padding-bottom: 3vh;
    }
    .specialitasaink{
        background-color: #222222;
        text-align: center;
        margin-bottom: 0px;
        padding-bottom: 0px;
        padding-top: 0vh;
        color: white;
    }
    .lablec{
        padding-top: 5vh;
        margin: auto;
        width: 85vw;
        display: flex;
        flex-direction: column;
        gap: 3vw;
        border-bottom: 2px solid grey;
        background-color: #101010;
        color: white;
    }
    .flexgrow1{
        flex-grow: 1
    }
    .piadinafoglalj{
        background-color: #222222;
        color: white;
        font-size: 13px;
        padding-top: 3vh;
        padding-bottom: 1px;
        margin: auto;
    }
    .bal{
        margin-right: 3vw;
    }
    .h2piadinapizzeria{
        margin-bottom: 0.5vh;
        margin: auto;
        text-align: right;
        font-size: 30px;
    }
    .tortenetunk{
        text-align: right;
        margin-top: 8px;
        padding-top: 0px;
        font-size: 23px;
        color: lightgrey;
        font-family: 'Times New Roman', Times, serif;
    }
    .jobb{
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 0vh;
        padding-bottom: 0vh;
        font-size: 20px;
    }
    .h4foglalj{
        margin-top: 0px;
        padding-top: 0px;
        font-size: 22px;
    }
    .menu{
        text-align: center;
        padding-top: 2vh;
        background-color: #101010;
        color: white;
        margin-bottom: 5vh;
    }
    .azizek{
        padding-top: 0px;
        margin-top: -10px;
        font-size: 18px;
        font-family: 'Times New Roman', Times, serif;
        color: lightgrey;
    }
    .szeretettel{
        display: block;
        text-align: right;
        font-weight: bold;
        margin-left: -7vw;
        font-size: 20px;
    }
    .nyitva{
        flex-grow: 1;
    }
    .foglaljasztaltitt{
        font-weight: bold;
        text-decoration: underline;
    }
    .lablec2{
        text-align: center;
        background-color: #101010;
        color: white;
    }
    .underline{
        text-decoration: underline;
    }
    img{
        object-fit: cover;
    }
    .kepek{
        display: grid;
        gap: 5px;
        padding-bottom: 0vh;
    }
    .menupontokharom{
        border: 1px solid lightgrey;
        width: 60vw;
        font-size: 24px;
        color: lightgrey;
    }
    .ajanlatunkalatt{
        width: 92%;
        margin: auto;
        margin-bottom: 5vh;
        font-size: 14px;
        color: lightgrey;
        font-size: 20px;
    }
    .szeretettel, .nyitva, .probald{
        width: 85vw;
    }
    .pizzeria{
        padding-left: 10px;
        font-size: 15px;
    }
    .kezdolap{
        color: white;
    }
    .ajanlatunk{
        margin-top: -20px;
        color: lightgrey;
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif
    }
    .menuh2{
        margin-top: 0px;
        font-size: 30px;
    }
    .bold{
        font-weight: bold;
    }
    .kepek div{
        display: flex;
        justify-content: center;
        align-items: flex-end;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        font-style: italic;
        font-family: 'Cormorant', serif;
        font-size: 17px;
    }
    .lablec2piadina{
        width: 70vw;
        display: block;
        text-align: center;
        margin: auto;
        margin-top: 3vh;
        margin-bottom: 3vh;
    }
}
/*----------------------------------TABLET----------------------------------*/
/*----------------------------------TABLET----------------------------------*/
/*----------------------------------TABLET----------------------------------*/
/*----------------------------------TABLET----------------------------------*/
@media (min-width: 768px)
{
    body{
        background-color: gray;
        margin: 0px;
        background-color: #101010;
        color: white;
        font-family: sans-serif;
    }
    .fejleceskep{
        background-image: url(img/pizzakep.jpg);
        background-size: cover;
        height: 30vh;
        width: 100%;
        display: flex;
        justify-content:space-between;
        color: white;
        font-size: 11px;
    }
    .navbar{
        display: flex;
        justify-content: space-evenly;
        width: 45vw;
        color: lightgray;
    }
    .piadinapizzeria{
        margin: auto;
        display: flex;
        justify-content: space-evenly; 
        width: 65vw
    }
    .menupontok{
        display: flex;
        justify-content: center;
        gap: 5vw;
        padding-bottom: 3vh;
    }
    .specialitasaink{
        background-color: #222222;
        text-align: center;
        margin-bottom: 0px;
        padding-bottom: 0px;
        padding-top: 2vh;
        color: white;
    }
    .lablec{
        margin: auto;
        width: 80vw;
        display: flex;
        gap: 3vw;
        flex-grow: 1;
        border-bottom: 2px solid grey;
        background-color: #101010;
        color: white;
    }
    .flexgrow1{
        flex-grow: 1
    }
    .piadinafoglalj{
        background-color: #222222;
        color: white;
        font-size: 13px;
        padding-top: 3vh;
        padding-bottom: 3vh;
        margin: auto;
    }
    .bal{
        flex-grow: 1;
        margin-right: 3vw;
    }
    .h2piadinapizzeria{
        margin-bottom: 0.5vh;
        margin: auto;
    }
    .tortenetunk{
        text-align: right;
        margin-top: 0px;
        padding-top: 0px;
        color: lightgrey;
        font-family: 'Times New Roman', Times, serif;
    }
    .jobb{
        flex-grow: 2;
        margin-bottom: 0vh;
        padding-bottom: 0vh;
        font-size: 13px;
    }
    .h4foglalj{
        margin-top: 0px;
        padding-top: 0px;
        font-size: 15px;
    }
    .menu{
        text-align: center;
        padding-top: 2vh;
        background-color: #101010;
        color: white;
    }
    .azizek{
        padding-top: 0px;
        margin-top: -10px;
        font-size: 10px;
        color: lightgrey;
        font-family: 'Times New Roman', Times, serif;
    }
    .szeretettel{
        text-align: right;
        font-weight: bold;
    }
    .nyitva{
        flex-grow: 1;
    }
    .foglaljasztaltitt{
        font-weight: bold;
        text-decoration: underline;
    }
    .lablec2{
        text-align: center;
        background-color: #101010;
        color: white;
    }
    .underline{
        text-decoration: underline;
    }
    .pkgrid1{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        height: 100%;
        width: 100%;
    }
    img{
        object-fit: cover;
    }
    .pkgrid2{
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 3;
        height: 100%;
        width: 100%;
    }
    .pkgrid3{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 4;
        height: 100%;
        width: 100%;
    }
    .pkgrid4{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 4;
        height: 100%;
        width: 100%; 
    }
    .pkgrid5{
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 5;
        height: 54%;
        width: 100%;
    }
    .kepek{
        display: grid;
        gap: 5px;
        padding-bottom: 0vh;
        margin-left: 10vw;
        margin-right: 10vw;
    }
    .menupontokharom{
        border: 1px solid lightgrey;
        width: 20vw;
        font-size: 15px;
        color: lightgrey;
    }
    .ajanlatunkalatt{
        width: 100vw;
        margin: auto;
        margin-bottom: 2vh;
        font-size: 10px;
        color: lightgrey;
        font-size: 14px;
    }
    .szeretettel, .nyitva, .probald{
        width: 25vw;
    }
    .pizzeria{
        padding-left: 10px;
        font-size: 15px;
    }
    .kezdolap{
        color: white;
    }
    .ajanlatunk{
        margin-top: -10px;
        color: lightgrey;
        font-size: 15px;
        font-family: 'Times New Roman', Times, serif
    }
    .menuh2{
        font-size: 22px;
    }
    .bold{
        font-weight: bold;
    }
    .kepek div{
        display: flex;
        justify-content: center;
        align-items: flex-end;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        font-style: italic;
        font-family: 'Cormorant', serif;
        font-size: 17px;
    }
    .pkgrid1{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        background-image: url(img/pizzakep.jpg);
        box-shadow: 0px 0px 20px 0px black inset;
    }
    .pkgrid2{
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 3;
        background-image: url(img/pizzakep2.jpg);
    }
    .pkgrid3{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 4;
        background-image: url(img/pizzakep3.jpg);
    }
    .pkgrid4{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 4; 
        background-image: url(img/pizzakep4.jpg);
    }
    .pkgrid5{
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 5;
        height: 90%;
        background-image: url(img/pizzakep5.jpg);
    }
    .kepek{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 20fr 1fr 8fr;
        height: 70vh;
        width: 70vw;
        gap: 4vh;
        padding-bottom: 0vh;
        margin-left: 20vw;
        margin-right: 20vw;
    }
    .menupontok{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 5vw;
        padding-bottom: 3vh;
    }
    .menu{
        text-align: center;
        padding-top: 2vh;
        background-color: #101010;
        color: white;
    }
    .menupontokharom{
        border: 1px solid lightgrey;
        width: 13vw;
        font-size: 15px;
        color: lightgrey;
        display: flex;
        justify-content: center;
    }
}
/*----------------------------------SZÁMÍTÓGÉP----------------------------------*/
/*----------------------------------SZÁMÍTÓGÉP----------------------------------*/
/*----------------------------------SZÁMÍTÓGÉP----------------------------------*/
/*----------------------------------SZÁMÍTÓGÉP----------------------------------*/
@media (min-width: 1280px) {
    body{
        background-color: gray;
        margin: 0px;
        background-color: #101010;
        color: white;
        font-family: sans-serif;
    }
    .fejleceskep{
        background-image: url(img/pizzakep.jpg);
        background-size: cover;
        height: 50vh;
        width: 100%;
        display: flex;
        justify-content:space-between;
        color: white;
        font-size: 11px;
    }
    .navbar{
        display: flex;
        justify-content: space-evenly;
        width: 25vw;
        color: lightgray;
        margin-top: 20px;
        margin-right: 12px;
    }
    .piadinapizzeria{
        margin: auto;
        display: flex;
        justify-content: space-evenly; 
        width: 60vw;
        height: 15vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .menupontok{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 5vw;
        padding-bottom: 3vh;
    }
    .specialitasaink{
        background-color: #222222;
        text-align: center;
        margin-bottom: 0px;
        padding-bottom: 0px;
        padding-top: 2vh;
        color: white;
    }
    .lablec{
        margin: auto;
        width: 60vw;
        display: flex;
        gap: 3vw;
        flex-grow: 1;
        border-bottom: 2px solid grey;
        background-color: #101010;
        color: white;
    }
    .flexgrow1{
        flex-grow: 1
    }
    .piadinafoglalj{
        background-color: #222222;
        color: white;
        font-size: 13px;
        padding-top: 3vh;
        padding-bottom: 3vh;
        margin: auto;
    }
    .bal{
        flex-grow: 1;
        margin-right: 3vw;
    }
    .h2piadinapizzeria{
        margin-bottom: 0.5vh;
        margin: auto;
    }
    .tortenetunk{
        text-align: right;
        margin-top: 0px;
        padding-top: 0px;
        color: lightgrey;
        font-family: 'Times New Roman', Times, serif;
        font-size: 17px;
    }
    .jobb{
        flex-grow: 2;
        margin-bottom: 0vh;
        padding-bottom: 0vh;
        font-size: 14px;
    }
    .h4foglalj{
        margin-top: 0px;
        padding-top: 0px;
        font-size: 17px;
    }
    .menu{
        text-align: center;
        padding-top: 2vh;
        background-color: #101010;
        color: white;
    }
    .azizek{
        padding-top: 0px;
        margin-top: -10px;
        font-size: 15px;
        color: lightgrey;
        font-family: 'Times New Roman', Times, serif;
    }
    .szeretettel{
        text-align: right;
        font-weight: bold;
    }
    .nyitva{
        flex-grow: 1;
    }
    .foglaljasztaltitt{
        font-weight: bold;
        text-decoration: underline;
    }
    .lablec2{
        text-align: center;
        background-color: #101010;
        color: white;
        font-size: 11px;
        padding-top: 20px;
        padding-bottom: 30px;
    }
    .underline{
        text-decoration: underline;
    }
    .pkgrid1{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        background-image: url(img/pizzakep.jpg);
        box-shadow: 0px 0px 20px 0px black inset;
    }
    img{
        object-fit: cover;
    }
    .pkgrid2{
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 3;
        background-image: url(img/pizzakep2.jpg);
    }
    .pkgrid3{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 4;
        background-image: url(img/pizzakep3.jpg);
    }
    .pkgrid4{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 4; 
        background-image: url(img/pizzakep4.jpg);
    }
    .pkgrid5{
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 5;
        height: 90%;
        background-image: url(img/pizzakep5.jpg);
    }
    .kepek{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 20fr 1fr 8fr;
        height: 70vh;
        width: 70vw;
        gap: 4vh;
        padding-bottom: 0vh;
        margin-left: 14vw;
        margin-right: 20vw;
    }
    .menupontokharom{
        border: 1px solid lightgrey;
        width: 13vw;
        font-size: 15px;
        color: lightgrey;
        display: flex;
        justify-content: center;
    }
    .ajanlatunkalatt{
        width: 55vw;
        margin: auto;
        margin-bottom: 4vh;
        font-size: 13px;
        color: lightgrey;
    }
    .szeretettel, .nyitva, .probald{
        width: 25vw;
    }
    .pizzeria{
        padding-left: 10px;
        margin-left: 22px;
        margin-top: 40px;
        font-size: 25px;
    }
    .kezdolap{
        color: white;
    }
    .ajanlatunk{
        margin-top: -10px;
        color: lightgrey;
        font-size: 15px;
    }
    .menuh2{
        margin-top: 3vh;
        font-size: 20px;
    }
    .bold{
        font-weight: bold;
    }
    .probald{
        margin-right: 5vw;
    }
    .probaldlorem{
        font-size: 15px;
        text-align: justify;
    }
    .kepek div{
        display: flex;
        justify-content: center;
        align-items: flex-end;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        font-style: italic;
        font-family: 'Cormorant', serif;
        font-size: 17px;
    }
}